<div 
    class="add-board__modal modal">
    <div class="modal__inner">
        <form 
        class="add-item__form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <h3 class="modal__name">{{mode === 'add' ? 'Add' : 'Edit'}} Board</h3>
            <div class="form__inputs">
                <div class="form-group">
                    <label>Board name</label>
                    <input 
                    formControlName="name"
                    class="form__input">
                    <span 
                    *ngIf="!form.get('name')?.valid && form.get('name')?.touched"
                    class="input-error">Please, enter a valid name</span>
                </div>
                <div class="form-group" *ngIf="mode === 'add'">
                    <label>Board description</label>
                    <input 
                    formControlName="description"
                    class="form__input">
                    <span 
                    *ngIf="!form.get('description')?.valid && form.get('description')?.touched"
                    class="input-error">Please, enter a valid description</span>
                </div>
            </div>
            <div class="form__buttons">
                <button *ngIf="mode === 'add'" class="btn submit-btn" type="submit">Add</button>
                <button *ngIf="mode === 'edit'" class="btn submit-btn" type="submit">Save</button>
                <!-- <button class="btn add-board__btn" type="submit">Add</button> -->
            </div>
        </form>
        <div class="close" (click)="onCloseForm()"></div>
    </div>
    
</div>
