<!-- dashboard -->
<app-page-top currentRoute="boards"></app-page-top>
<!-- add board btn -->
<button class="add-board" (click)="onOpenAddModal()"></button>

<!-- boards list -->
<div class="boards__list">
    <!-- board -->
    <app-board
    *ngFor="let board of boards; let i = index"
    [board]="board"
    [index]="i"
    [mode]="'edit'"
    (openFormModal)="onOpenEditModal($event)"
    ></app-board>
</div>

<app-board-form 
    *ngIf="showModal" 
    [mode]="mode" 
    [boardToUpdate]="boardToUpdate"
    (closeFormModal)="onCloseModal($event)"></app-board-form>