<!-- dashboard -->
<app-page-top 
    currentRoute="dashboard"
    (findBoards)="getBoardsByName($event)"
    (filterBoards)="filterBoards($event)"></app-page-top>
<!-- add board btn -->
<button class="add-board" (click)="onOpenAddModal()"></button>

<!-- boards list -->
<div class="items__grid" *ngIf="!isFetching && !dataNotFound">
    <!-- board -->
    <app-board
    *ngFor="let board of boards"
    [board]="board"
    [id]="board._id"
    [mode]="'edit'"
    [authToken]="authToken"
    (openFormModal)="onOpenEditModal($event)"
    (deleteBoard)="onDeleteBoard($event)"
    ></app-board>

</div>

<app-loader *ngIf="isFetching"></app-loader>
<app-error 
*ngIf="dataNotFound && !isFetching"
[message]="'Data not found'"></app-error>

<app-board-form 
    [authToken]="authToken"
    *ngIf="showModal" 
    [mode]="mode" 
    [boardToUpdate]="boardToUpdate"
    (closeFormModal)="onCloseModal($event)"
    (error)="onError($event)"></app-board-form>