<!-- dashboard -->
<app-page-top 
    currentRoute="dashboard"
    (findBoards)="getBoardsByName($event)"
    (filterBoards)="filterBoards($event)"></app-page-top>
<!-- add board btn -->
<button class="add-board" (click)="onOpenAddModal()"></button>

<!-- boards list -->
<div class="boards__list" *ngIf="!isFetching && !dataNotFound">
    <!-- board -->
    <app-board
    *ngFor="let board of boards"
    [board]="board"
    [id]="board._id"
    [mode]="'edit'"
    [authToken]="authToken"
    (openFormModal)="onOpenEditModal($event)"
    (deleteBoard)="onDeleteBoard($event)"
    ></app-board>

</div>

<div *ngIf="isFetching" class="loader"></div>
<div *ngIf="dataNotFound && !isFetching" class="error-message" >
    <img src="../../../../assets/images/error-loading-data.svg" alt="error">
    <div>Data not found</div>
</div>

<app-board-form 
    [authToken]="authToken"
    *ngIf="showModal" 
    [mode]="mode" 
    [boardToUpdate]="boardToUpdate"
    (closeFormModal)="onCloseModal($event)"
    (error)="onError($event)"></app-board-form>