<app-page-top currentRoute={{currentBoard.name}}></app-page-top>
<div class="board-details">
    <div class="board-details__tasks">
        <div class="board-details__column tasks" #toDos>
            <div class="tasks__title">TO DO</div>
            <div class="tasks__container">
                <!-- add task button -->
                <button class="add-task-btn"></button>
                <!-- tasks list -->
                    <app-task
                    *ngFor="let newTask of newTasks"
                    [name]="newTask.name"></app-task>
            </div>
        </div>
        <div class="board-details__column tasks" #inProgress>
            <div class="tasks__title">IN PROGRESS</div>
            <div class="tasks__container">
                <!-- add task button -->
                <button class="add-task-btn"></button>
                <!-- tasks list -->
                    <app-task
                    *ngFor="let progressTask of progressTasks"
                    [name]="progressTask.name"></app-task>
            </div>
        </div>
        <div class="board-details__column tasks" #done>
            <div class="tasks__title">DONE</div>
            <div class="tasks__container">
                <button class="add-task-btn"></button>
                    <app-task
                    *ngFor="let doneTask of doneTasks "
                    [name]="doneTask.name"></app-task>
            </div>
        </div>
    </div>
</div>


