<app-page-top currentRoute={{currentBoard.name}}></app-page-top>
<div class="board-details">
    <div class="board-details__tasks">
        <div class="board-details__column tasks">
            <div 
            class="tasks__container"
            [ngClass]="{ 
                blue: toDosColor.blue, 
                purple: toDosColor.purple, 
                white: toDosColor.white}">
                <div id="toDos" class="choose-color">
                    <button class="color blue" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                    <button class="color purple" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                    <button class="color white" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                </div>
                <!-- add task button -->
                <div class="tasks__title">to do <span class="tasks-count">&#8226; {{newTasks.length}}</span></div>
                <button 
                id="add-todo" 
                #addToDo
                class="add-task-btn" 
                (click)="onOpenTaskAddForm(addToDo)"></button>
                <!-- tasks list -->
                <div class="tasks__list"
                appDragArea
                [column]="'toDo'"
                (itemDropped)="onItemDropped($event)">
                    <div 
                    *ngIf="!newTasks.length"
                    class="task empty-task"
                    appDragArea
                    [column]="'toDo'"
                    (itemDropped)="onItemDropped($event)">Add or drag task here</div>

                    <app-task
                    *ngFor="let newTask of newTasks"
                    [task]="newTask"
                    (itemDragged) = "setDraggedItem($event)"
                    (editTask)="onEditTask($event)"
                    (deleteTask)="onDeleteTask($event)"
                    draggable="true"
                    appDraggable></app-task>
                </div>
            </div>
        </div>
        <div class="board-details__column tasks">
            <div 
            class="tasks__container"
            [ngClass]="{ 
                blue: inProgressColor.blue, 
                purple: inProgressColor.purple, 
                white: inProgressColor.white}">
                <div id="inProgress" class="choose-color">
                    <button class="color blue" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                    <button class="color purple" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                    <button class="color white" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                </div>
                <!-- add task button -->
                <div class="tasks__title">in progress <span class="tasks-count">&#8226; {{progressTasks.length}}</span></div>
                <button
                id="add-in-progress" 
                #addInProgress
                class="add-task-btn" 
                (click)="onOpenTaskAddForm(addInProgress)"></button>
                <!-- tasks list -->
                <div class="tasks__list"
                appDragArea
                [column]="'inProgress'"
                (itemDropped)="onItemDropped($event)">
                    <div 
                    *ngIf="!progressTasks.length"
                    class="task empty-task"
                    appDragArea
                    [column]="'inProgress'"
                    (itemDropped)="onItemDropped($event)">Add or drag task here</div>

                    <app-task
                    *ngFor="let progressTask of progressTasks"
                    [task]="progressTask"
                    (itemDragged) = "setDraggedItem($event)"
                    (editTask)="onEditTask($event)"
                    (deleteTask)="onDeleteTask($event)"
                    draggable="true"
                    appDraggable></app-task>
                </div>
            </div>
        </div>
        <div class="board-details__column tasks">
            <div
            class="tasks__container"
            [ngClass]="{ 
                blue: doneColor.blue, 
                purple: doneColor.purple, 
                white: doneColor.white}">
                <div id="done" class="choose-color">
                    <button class="color blue" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                    <button class="color purple" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                    <button class="color white" appChangeBg (colorChosen)="onChangeBg($event)"></button>
                </div>
                <!-- add task btn -->
                <div class="tasks__title">done <span class="tasks-count">&#8226; {{doneTasks.length}}</span></div>
                <button id="add-done"
                #addDone
                class="add-task-btn" 
                (click)="onOpenTaskAddForm(addDone)"></button>
                <div class="tasks__list"
                appDragArea
                [column]="'done'"
                (itemDropped)="onItemDropped($event)">
                    <app-task
                    *ngFor="let doneTask of doneTasks "
                    [task]="doneTask"
                    (itemDragged) = "setDraggedItem($event)"
                    (editTask)="onEditTask($event)"
                    (deleteTask)="onDeleteTask($event)"
                    draggable="true"
                    appDraggable></app-task>

                    <div 
                    *ngIf="!doneTasks.length"
                    class="task empty-task"
                    appDragArea
                    [column]="'done'"
                    (itemDropped)="onItemDropped($event)">Add or drag task here</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-task-form 
    [authToken]="authToken"
    *ngIf="showFormModal"
    [openTaskForm]="formDetails"
    (closeFormModal)="onCloseForm($event)"
    (addTaskToBoard)="onAddNewTask($event)"
    (updateTask)="onUpdateTask($event)"
    ></app-task-form>

<div *ngIf="error" class="error">Error  Occured</div>


