<app-page-top currentRoute={{currentBoard.name}}></app-page-top>
<div class="board-details">
    <div class="board-details__tasks">
        <div class="board-details__column tasks">
            <div class="tasks__title">TO DO</div>
            <div class="tasks__container">
                <button class="add-task-btn"></button>
                <!-- tasks list -->
                <div class="task">
                    <div class="task__name">Task Name</div>
                    <div class="board__buttons">
                        <button class="board__btn">
                        <img src="../assets/images/edit.svg" alt="edit" />
                        </button>
                        <button class="board__btn">
                        <img src="../assets/images/delete.svg" alt="del" />
                        </button>
                    </div>
                </div>
                <div class="task">
                    <div class="task__name">Task Name</div>
                    <div class="board__buttons">
                        <button class="board__btn">
                        <img src="../assets/images/edit.svg" alt="edit" />
                        </button>
                        <button class="board__btn">
                        <img src="../assets/images/delete.svg" alt="del" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column"></div>
        <div class="board-column"></div>
    </div>
</div>

