<div class="page__top">
    <h1 class="page__title">{{currentRoute}}</h1>
    <div class="manage__boards">    
        <form class="filter"
        [formGroup]="filter">
            <img class="filter-icon" src="../assets/images/filter.svg" alt="filter">
            <input 
            formControlName="name" 
            class="filter__input" 
            placeholder="{{placeholder}}"
            [ngClass]="{
                forbidden: isInvalidInput
            }">
        </form>  
        <div class="filter-buttons">
            <div class="dropdown">
                <button class="btn filter-btn order">ASC</button>
                <div class="dropdown-content">
                    <button class="dropdown-btn" (click)="onFilterItemsByName('ascending')">Name</button>
                    <button class="dropdown-btn" (click)="onFilterItemsByDate('ascending')">Date</button>
                    <button *ngIf="showFilter" class="dropdown-btn" (click)="onFilterBoardsByTasks('ascending')">№ Tasks</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn filter-btn order">DESC</button>
                <div class="dropdown-content">
                    <button class="dropdown-btn" (click)="onFilterItemsByName('descending')">Name</button>
                    <button class="dropdown-btn" (click)="onFilterItemsByDate('descending')">Date</button>
                    <button *ngIf="showFilter" class="dropdown-btn" (click)="onFilterBoardsByTasks('descending')">№ Tasks</button>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
