<header class="header">
    <a routerLink="/dashboard" class="logo">Task Controll App</a>
    <nav class="nav" *ngIf="isAuthenticated">
      <ul class="nav__list" [ngClass]="{show_menu: isBurgerOpened}">
        <li class="nav__item"><a routerLink="/dashboard" class="nav__link" (click)="onToggleMenu()">All Boards</a></li>
        <li class="nav__item"><a routerLink="/archived" class="nav__link" (click)="onToggleMenu()">Archived Tasks</a></li>
        <div class="nav__item">
          <li class="profile">
            <a routerLink="/profile/info" class="nav__link" (click)="onToggleMenu()">
              <img src="../../../../assets/images/profile.svg" alt="profile">
            </a>
          </li>
          <li class="logout">
            <a routerLink="/auth" class="nav__link auth-link" (click)="onLogout()">
              <img src="../../../../assets/images/logout.svg" alt="logout">
            </a>
          </li>
        </div>
        
      </ul>
      <button class="burger-menu" [ngClass]="{cross: isBurgerOpened}" (click)="onToggleMenu()">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>
    </nav>
  </header>