<div class="task">
    <div class="task__name" (click)="onOpenTaskDetails()">{{ task.name }}</div>
    <div class="date">
        <img src="assets/images/calendar.svg" alt="calendar">
        <span>{{task.created_date | date}}</span>
    </div>
    <div class="task-manage__buttons">
        <button *ngIf="task.state !== 'toDo'" class="btn change-state" (click)="onMoveTask('toDo')">Make TO DO</button>
        <button *ngIf="task.state !== 'inProgress'" class="btn change-state" (click)="onMoveTask('inProgress')">Make IN PROG</button>
        <button *ngIf="task.state !== 'done'" class="btn change-state" (click)="onMoveTask('done')">Make DONE</button>
    </div>
    <div class="board__buttons">
        <button id="edit-task" class="board__btn" title="Edit" (click)="onEditTask()">
            <img src="assets/images/edit.svg" alt="edit" />
        </button>
        <button id="delete-task" class="board__btn" title="Delete" (click)="onDeleteTask()">
            <img src="assets/images/delete.svg" alt="del" />
        </button>
        <button id="archive-task" *ngIf="task.state === 'done'" title="Archive" class="board__btn" (click)="onArchiveTask()">
            <img src="assets/images/archive.svg" alt="archive" />
        </button>
    </div>
</div>
