<div class="auth" id="auth-form">
    <app-loader *ngIf="isLoading"></app-loader>
    <app-error *ngIf="error" [message]="errorMessage"></app-error>
    <form 
    class="auth__form"
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
    *ngIf="!isLoading">
        <h1 class="auth__title">
            {{isLoginMode ? 'Sign In' : 'Sign Up'}}
        </h1>
        <div class="auth-form__inputs">
            <div *ngIf="!isLoginMode" class="form-group">
                <label class="form-label" for="username">Name</label>
                <input 
                id="username" 
                type="text" 
                class="form__input" 
                ngModel
                name="username"
                required>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Email</label>
                <input 
                id="email" 
                type="email" 
                class="form__input" 
                ngModel
                name="email"
                required 
                email>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input 
                id="password"  
                type="password" 
                class="form__input"
                ngModel
                name="password"
                required
                minlength="3">
            </div>
        </div>
        <div class="form__buttons">
            <button 
            class="btn submit-btn" 
            type="submit"
            [disabled]="!authForm.valid">
            {{isLoginMode ? 'Sign In' : 'Sign Up'}}</button>
            <div class="form-redirect">
                <span>{{isLoginMode ? 'Do not' : 'Already'}} have an account? </span>
                <button type="button" class="redirect-btn" (click)="onSwitchMode()">{{isLoginMode ? 'Sign Up' : 'Sign In'}}</button>
            </div>
        </div>
    </form>
</div>
