<div class="archive">
    <div class="page__top">
        <div class="page__title">Archived Tasks</div>
    </div>
    <!-- <app-loader *ngIf="isLoading"></app-loader>
    <app-error *ngIf="error" [message]="errorMessage"></app-error> -->
    <div *ngIf="!isLoading && !tasks.length" class="no-data">No Data Yet</div>
    <div class="items__grid">
        <div *ngFor="let task of tasks" class="archived__task task">
            <div class="task__name">{{task.name}}</div>
            <div class="date">
                <img src="../assets/images/calendar.svg" alt="calendar">
                <span>{{task.created_date | date}}</span>
            </div>
        </div>
    </div>
</div>
