<div 
    class="board"
    [routerLink]="[index]"
    (click)="onOpenBoard()"
    >
    <div class="board__name">{{board.name}}</div>
    <div class="board__date">{{board.creationDate}}</div>
    <div class="board__desc">{{board.description}}</div>
    <div class="board__buttons">
        <button class="board__btn">
        <img src="../assets/images/edit.svg" alt="edit" />
        </button>
        <button class="board__btn">
        <img src="../assets/images/delete.svg" alt="del" />
        </button>
    </div>
</div>
