/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
:root {
    --dark-bg: #262626;
    --purple: #262840;
    --grey: #D9D9D9;
    --dark-grey: #494949;
    --light-purple: #6A7CEC;
}
*, :before, :after, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
button, input {
    font: inherit;
    background-color: transparent;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
}

body {
    background-color: var(--dark-bg);
    color: var(--grey);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header {
    height: 60px;
    background-color: var(--purple);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.logo {
    font-size: 20px;
}
.nav__list {
    height: 100%;
    display: flex;
}
.nav__item:not(:last-child) {
    margin-right: 20px;
}

.auth-link {
    color: var(--light-purple);
}


/* page top */
.page__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.page__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}
.manage__boards {
    display: flex;
    gap: 10px;
}
.btn {
    /* background-color: var(--grey); */
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 30px;
    font-size: 14px;
    transition: .3s;
}

.btn:hover {
    background-color: #a1a1a16f;
}

.filter {
    width: 150px;
}

.order.active {
    background-color: #a1a1a16f;
}

.add-board {
    width: 100px;
    height: 100px;
    /* border-radius: 10px; */
    background-color: var(--light-purple);
    color: white;
    position: relative;
    cursor: pointer;
    transition: .4s;
}

.add-board:hover {
    transform: scale(1.1);
}

.add-board:before{
    content: '';
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.add-board:after{
    content: '';
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 60px;
}

/* boards list */
.boards__list {
    padding: 30px 0;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.board{
    min-width: 300px;
    height: 150px;
    background-color: var(--dark-grey);
    /* border-radius: 10px; */
    padding: 15px;
    position: relative;
    border: 1.5px solid #e5e5e56a;
}

.board__name {
    font-size: 18px;
    /* color: var(--light-purple); */
    margin-bottom: 10px;
}
.board__date {
    font-size: 12px;
    color: #a6a6a6;
    margin-bottom: 15px;
}
.board__desc{
    font-size: 14px;
}

.board__buttons {
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    gap: 7px;
}
.board__btn {
    display: block;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.board__btn img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 650px){
    .board {
        width: 100%;
    }    
}


/* board details */
.board-details__tasks {
    display: flex;
}
.tasks {
    flex: 0 1 30%;
}
.tasks__container {
    min-height: 100px;
    padding: 20px;
    background-color: var(--dark-grey);
}
.tasks__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.add-task-btn {
    width: 100%;
    height: 40px;
    background-color: var(--light-purple);
    position: relative;
    margin-bottom: 10px;
}

.add-task-btn:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 30px; */
}
.add-task-btn:after{
    content: '';
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    /* font-size: 30px; */
}

.task {
    min-height: 100px;
    position: relative;
    padding: 15px;
    background-color: white;
    color: var(--dark-bg);
}
.task:not(:last-child) {
    margin-bottom: 10px;
}

@media screen and (max-width: 650px){
    .tasks {
        flex: 1 1 100%;
    }
}