/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
:root {
    --dark-bg: #262626;
    --purple: #262840;
    --grey: #D9D9D9;
    --dark-grey: #494949;
    --light-purple: #6A7CEC;
}
*, :before, :after, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
button, input {
    font: inherit;
    background-color: transparent;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
}

body {
    background-color: white;
    color: var(--dark-bg);
    /* background-color: var(--dark-bg);
    color: var(--grey); */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header {
    height: 60px;
    background-color: var(--purple);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.logo {
    font-size: 20px;
}
.nav__list {
    height: 100%;
    display: flex;
}
.nav__item:not(:last-child) {
    margin-right: 20px;
}

.auth-link {
    color: var(--light-purple);
}


/* page top */
.page__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

.page__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}
.manage__boards {
    display: flex;
    gap: 10px;
}
.btn {
    background-color: var(--grey);
    /* border: 1px solid #a1a1a1; */
    border-radius: 10px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 30px;
    font-size: 14px;
    transition: .3s;
}

.btn:hover {
    background-color: #9290906f;
}

.filter {
    width: 150px;
}

.order.active {
    background-color: #a1a1a16f;
}

.add-board {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: var(--light-purple);
    color: white;
    position: relative;
    cursor: pointer;
    transition: .4s;
}

.add-board:hover {
    transform: scale(1.1);
}

.add-board:before{
    content: '';
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.add-board:after{
    content: '';
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 60px;
}

/* boards list */
.boards__list {
    padding: 30px 0;

    /* display: flex; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.board{
    min-width: 250px;
    min-height: 150px;
    background-color: white;
    /* background-color: var(--grey); */
    /* border-radius: 10px; */
    padding: 15px;
    position: relative;
    /* border: 1.5px solid #e5e5e56a; */
    filter: drop-shadow(0px 0px 6px rgba(73, 73, 73, 0.3));
    border-radius: 10px;
}

.board__tasks-per-col {
    font-size: 14px;
    font-style: italic;
    /* color: var(--purple); */
}

@media screen and (max-width: 830px){
    .boards__list {
        grid-template-columns: repeat(2, 1fr);
    }
}
.board__name {
    font-size: 18px;
    font-weight: 500;
    /* color: var(--light-purple); */
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s;
}
.board__name:hover {
    color: var(--light-purple);
}
.board__date {
    font-size: 12px;
    color: #a6a6a6;
    font-style: italic;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.board__date span, .board__date img {
    display: block;
}
.board__desc{
    font-size: 14px;
    margin-bottom: 10px;
}

.board__buttons {
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    gap: 7px;
}
.board__btn {
    display: block;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.board__btn img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px){

}
@media screen and (max-width: 569px){
    .page__top {
        flex-direction: column;
    } 
    .boards__list {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* board details */
.board-details__tasks {
    display: flex;
    justify-content: space-between;
}
.tasks {
    flex: 0 1 30%;
}
.tasks__container {
    min-height: 100px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 0px 6px rgba(73, 73, 73, 0.3));
}
.tasks__title {
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    /* padding: 8px 0;
    border-radius: 15px;
    background-color: white;
    filter: drop-shadow(0px 0px 6px rgba(73, 73, 73, 0.3)); */
}
.tasks-count {
    color: var(--dark-grey);
    font-weight: 400;
    /* padding-left: 4px; */
}

.add-task-btn {
    width: 100%;
    height: 40px;
    background-color: var(--light-purple);
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.add-task-btn:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 30px; */
}
.add-task-btn:after{
    content: '';
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    /* font-size: 30px; */
}

.task {
    min-height: 100px;
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background-color: #e9e7e79c;
    color: var(--dark-bg);
    margin-bottom: 10px;
    /* filter: drop-shadow(0px 0px 1px rgba(0, 12, 78, 0.3)); */
}

.empty-task {
    background-color: transparent;
    border: 1px dashed #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #a1a1a1;
    transition: .3s;
}

.empty-task.hover {
    background-color: #f2f1f1b6;
}

@media screen and (max-width: 768px){
    .board-details__tasks {
        flex-direction: column;
    }
    .tasks {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

/* form modal*/
.close {
    /* border: 1px solid red; */
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
}
.close:before, .close:after {
    content: '';
    width: 25px;
    height: 2px;
    background-color: #5c5c5c;
    position: absolute;
    border-radius: 3px;
    top: 10px;
    right: 0px;
    cursor: pointer;
}
.close::before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.modal {
    height: 100%;
    width: 100%;
    /* background-color: #2626265d; */
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.modal__inner {
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 300px;
    color: var(--dark-bg);
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    filter: drop-shadow(0px 0px 20px rgba(73, 73, 73, 0.3));
    border-radius: 10px;
}
.add-board__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    height: 100%;
}
.modal__name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    flex: 0 0 auto;
}
.form__inputs {
    height: 100%;
    flex: 1 0 auto;
}

.form__input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    margin-bottom: 7px;
    padding: 5px 10px;
}
.input-error {
    display: block;
    font-size: 12px;
    color: rgb(132, 3, 3);
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 10px;
}
.add-board__btn {
    width: 200px;
    margin: 0 auto;
    height: 40px;
    flex: 0 0 auto;
}

/* app task dragging */
.hide {
    display: none;
}
app-task {
    cursor: grab;
}
